@import "layout/root";
@import "layout/font";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat';
}

.header{
  background: url(../images/BG.webp) center / cover;
  padding: 50px 0;
  display: flex;
  flex-direction: column;

  &__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @include media($xl){
      margin-bottom: 100px;
    }
  }

  &__logo__img{

    @include media($xl){
      display: none;
    }
  }

  &__logo__img__hidden{
    display: none;

    @include media($xl){
      display: block;
    }
  }

  &__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 200px;

    @include media($xl) {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 230px;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(15px);
      padding: 30px 0;
      flex-direction: column;
      transform: translateX(100%);
      transition: 0.5s transform;
      height: 100%;
      justify-content: space-between;

      
      &.open{
        transform: translateX(0);
        margin-bottom: 0;
      }
    }
  }

  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    list-style: none;

    @include media($xl){
      flex-direction: column;
      align-items: center;
    }
  }

  &__link{
    text-decoration: none;
    color: #fff;
    margin: 0 25px;
    position: relative;
    font-weight: 500;
    overflow: hidden;
    transition: 0.3s ease;

    @include media($xl){
      display: block;
      margin: 10px 0;
    }

    &::before{
      content: '';
      position: absolute;
      top: -15px;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background: #fff;
      transition: 0.3s ease;

      @include media($xl){
        width: 0;
        height: 0;
      }
    }

    &:hover::before{
      transform: scaleX(1.2);
    }

    &:hover{
      color: #ddd;
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    background: none;
    display: none;
    
    @include media($xl){
      display: block;
    }
    
    &.open{
      .header__button-line,
      &::before{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
      }
      &::after{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-135deg);
      }
    }

    &::before,
    &::after,
    &-line {
      transition: 0.5s;
      position: absolute;
      content: "";
      left: 0;
      width: 100%;
      height: 2px;
      background: white;
    }

    &::before {
      top: 20%;
    }

    &::after {
      bottom: 20%;
    }

    &-line {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__phone{
    display: flex;
    align-items: center;

    @include media($xl){
      margin-top: 25px;
    }

    a{
      text-decoration: none;
      color: #fff;
      margin-left: 10px;
      transition: 0.3s ease;

      &:hover{
        color: #ddd;
      }
    }
  }

  &__intro{

    &__content{
      display: flex;
      flex-direction: column;
      margin-bottom: 200px;

      @include media($xl){
        margin-bottom: 50px;
      }
    }

    &__title{
      color: #fff;
      margin-bottom: 22px;
    }

    &__p{
      color: #fff;
      margin-bottom: 30px;
      max-width: 665px;
    }

    &__btns{
      display: flex;
      align-items: center;

      @include media(472){
        flex-direction: column;
      }
    }

    &__btn{
      border-radius: 8px;
      padding: 10px;
      text-decoration: none;
      transition: 0.3s ease;

      &:first-child{
        background: #fff;
        color: #000;
        font-weight: 500;
        margin-right: 42px;
        padding: 15px 29px;
        border: 2px solid #fff;

        @include media(472){
          margin-right: 0;
          margin-bottom: 20px;
        }

        &:hover{
          background: #ddd;
          border: 2px solid #ddd;
        }
      }

      &:last-child{
        background: #000;
        color: #fff;
        font-weight: 500;
        padding: 15px 50px;
        border: 2px solid #fff;

        &:hover{
          background: #222;
        }
      }
    }
  }

  &__location{
    display: flex;
    align-items: center;

    svg{
      margin-right: 12px;
    }

    p{
      color: #fff;
    }
  }
}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;

  .row{
    width: 100%;

    div{
      padding: 0;
    }
  }

  &__title{
    margin-top: 75px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 40px;

    @include media($lg){
      text-align: center;
    }
  }
}

.item{
  padding-bottom: 100px;
  
  @include media($lg){
    display: flex;
    justify-content: center;
  }

  &__title{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 16px;
    max-width: 600px;
    width: 100%;

    @include media($lg){
      text-align: center;
    }
    @include media($md){
      font-size: 25px;
    }
  }

  &__p{
    max-width: 500px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;

    @include media($lg){
      text-align: center;
    }

    @include media($md){
      font-size: 16px;
    }
  }

  &__texts{
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media($lg){
      order: 1;
    }
  }


  &__img{
    max-width: 450px;
    width: 100%;
  }


  &_left .item__imgs{
    display: flex;
    justify-content: flex-end;
  }

  &_left{

    div{

      &:nth-of-type(1){
        justify-content: flex-start;
      }
    }
  }
}

.mt-lg-30{
  @include media($lg){
    margin-top: 30px;
  }
}

.ad{
  background: url(../images/adbg.webp) center / cover;
  margin-top: 25px;

  &__title__box{
    padding-top: 65px;
    display: flex;
    margin-bottom: 12px;

    img {
      max-width: 200px;
      width: 100%;

      @include media($xl){
        margin: 10px auto 15px;
      }
    }

    @include media($xl){
      flex-direction: column;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #FFFFFF;
    margin-left: 14px;

    @include media($xl){
      text-align: center;
      margin-left: 0;
      font-size: 35px;
    }
    @include media($md){
      font-size: 30px;
      line-height: 38px;
    }
    @include media($sm){
      font-size: 25px;
      line-height: 33px;
    }
  }

  &__p{
    font-weight: 500;
    font-size: 19px;
    line-height: 135.9%;
    color: #fff;
    padding-bottom: 100px;

    @include media($xl){
      text-align: center;
      padding-bottom: 33px;
    }
  }

  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding-bottom: 120px;

    &.row{
      margin: 0;
      margin: 0 auto;

      @include media($xl){
        width: 80%;
      }
    }

    > div{
      display: flex;
      justify-content: space-between;

      @include media($md){
        flex-direction: column;
      }

      &:nth-of-type(2){
        @include media($xl){
          margin-top: 15px;
        }
      }
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media($md){
      margin: 20px 0;
    }

    svg{
      margin-bottom: 12px;
      max-width: 124px;
      width: 100%;

      @include media($xl){
        margin-top: 15px;
        max-width: 100px;
      }
      @include media($md){
        max-width: 124px;
      }
    }

    &__p{
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      max-width: 170px;
      width: 100%;
    }
  }

  &__clients{
    padding-bottom: 50px;

    &__title{
      font-weight: 800;
      font-size: 35px;
      line-height: 55px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 12px;

      @include media($xl){
        font-size: 30px;
      }
      @include media($md){
        max-width: 200px;
        margin: 0 auto;
      }
    }

    & .row{

      div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0;

        @include media($xl){
          justify-content: center;
        }
        @include media($md){
          flex-direction: column;
        }

        img{
          max-width: 124px;
          width: 100%;

          @include media($xl){
            margin: 25px 35px;
          }
        }
      }
    }
  }
}

.delivery{
  padding-top: 50px;
  padding-bottom: 50px;

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

    img{
      margin-bottom: 15px;
    }

    p{
      max-width: 232px;
      text-align: center;
    }
  }

  &__title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 25px;
  }

  &__p{
    max-width: 845px;
    margin: 0 auto;
    margin-bottom: 50px;

    @include media($xl){
      text-align: center;
    }
  }

  &__btn{
    padding: 12px 10px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 35px;
    font-size: 20px;
    transition: 0.3s ease;

    &:hover{
      background: #ddd;
      color: #333;
    }
  }

  &__bottom__p{
    text-align: end;

    @include media($xl){
      text-align: center;
    }
  }
}

.truck__img{
  max-width: 100%;
  width: 100%;
}

.contact{
  background: #000;
  color: #fff;
  padding: 50px 0;

  &__texts{
    display: flex;
    flex-direction: column;
  }

  &__title{
    text-align: center;
    margin-bottom: 50px;
  }

  &__item{
    display: flex;
    padding: 25px 0;

    &__title{
      font-size: 27px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    &__p{
      max-width: 300px;
      font-size: 18px;
      color: #fff;
      text-decoration: none;

      &_big{
        max-width: 500px;
        font-size: 18px;
        color: #fff;
        margin-top: 40px;
      }
    }

    svg{
      max-height: 70px;
      max-width: 50px;
      width: 100%;
      margin-right: 15px;
    }
  }

  &__input_small{
    margin: 15px 0;
    max-width: 500px;
    width: 100%;
    height: 70px;
    font-family: 'Montserrat';
    padding-top: 40px;
    padding-left: 15px;
    font-size: 20px;
    border: none;
    background: #fff;
  }

  &__input_large{
    max-width: 500px;
    width: 100%;
    height: 200px;
    font-family: 'Montserrat';
    font-size: 20px;
    border: none;
    background: #fff;
    margin-top: 15px;
    padding-top: 160px;
    padding-left: 15px;

    @include media($md){
      padding-top: 150px;
    }
  }

  &__btn{
    margin-top: 30px;
    padding: 12px 10px;
    background: #fff;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    border: none;
    transition: 0.3s ease;

    &:hover{
      background: #333;
      color: #fff;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer{
  background: #c4c4c4;
  padding: 10px 0;

  .row{
    justify-content: space-between;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;

      &:nth-of-type(1){
        align-items: start;

        p{
          margin-top: 8px;
          margin-bottom: 15px;

          @include media($lg){
            margin: 0;
          }
        }

        @include media($lg){
          align-items: center;
        }
      }
      &:nth-of-type(2){
        align-items: center;
        @include media($lg){
          align-items: center;
        }

        a{
          text-decoration: none;
          color: #000;

          div{
            display: flex;
            flex-direction: row;
            align-items: center;

            p{
              font-weight: 700;
            }


            img{
              max-width: 25px;
              margin-right: 5px;
            }
          }
        }
      }
      &:nth-of-type(3){
        align-items: flex-end;
        @include media($lg){
          align-items: center;
        }
      }
    }
  }
}

.sayt{
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media($lg){
    margin: 20px 0;
  }
}